.wrapper {
  width: 500px;
  height: 333px;
  display: flex;
  overflow: hidden;
  margin: 50px auto;
  position: relative;
}

.wrapper > div {
  position: absolute;
}

.wrapper img {
  pointer-events: none;
}